body {
    margin: 0;
}

#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: khaki;
    overflow: hidden;
}

.obstacle {
    background-color: black;
    position: absolute;
    bottom: 15%;
}

#counter {
    position: absolute;
    top: 10%;
    right: 2%;
    font-size: 20px;
    font-weight: bold;
}

#generation {
    position: absolute;
    top: 10%;
    left: 2%;
    font-size: 20px;
    font-weight: bold;
}

.graph{
    position: absolute;
    top: 10%;
    left: 30%;
}

#weight-graph {
    left: 60%;
}
.player {
    position: absolute;
    left: 10%;
    bottom: 15%;
    width: 3%;
    height: 10%;
}

.target {
    background-color: red;
}